[Unit]

Description=Gunicorn instance
After=network.target

[Service]
User=azureuser


Group=www-data


WorkingDirectory=/home/azureuser/flaskApp/
Environment="PATH=/home/azureuser/flaskApp/venv/bin"
ExecStart=/home/azureuser/flaskApp/venv/bin/gunicorn --workers 3 --bind unix:app.sock -m 007 wsgi:app

[Install]
WantedBy=multi-user.target
