<!doctype html>

<html lang="en">

<head>

	<meta charset="utf-8">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script>

   <title>{% block title %} {% endblock %}</title>
   </head>

<body>

    <div class="container p-3 my-3 bg-dark text-white">
         <hr>
        <h2 class="text-center">You can have short URL for length URL links</h2>

        <hr>
        {% block content%}
        {% endblock %}
    </div>
   
      <footer>
        <p style="color:rgb(21, 20, 20)">Author: Shashi Rautela<br>
        <a href="mailto:rautela.shashi@gmail.com">Email</a></p>
      </footer>
      
</body>
</html>
