<!doctype html>

<html lang="en">

<head>

	<meta charset="utf-8">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script>

   <title>{% block title %} {% endblock %}</title>

     <style>
     .myDiv {
       border: 5px outset rgb(23, 23, 24);
       background-color: rgb(244, 245, 246);
       text-align: center;
       color: rgb(24, 23, 26);
     }
     .myDiv1 {
         border: 5px outset red;
         background-color: rgb(33, 19, 74);
         text-align: center;
         color: rgb(224, 234, 239);
     }
     body {
         background-color: #dae1e1;
         color: rgb(248, 7, 7);
       }
     </style>
   </head>

<body>

    <div class="container p-3 my-3 bg-dark text-white">
         <hr>
        <h2 class="text-center">You can have short URL for length URL links</h2>

        <hr>
        {% block content%}
        {% endblock %}
    </div>
   
      <footer>
        <p style="color:rgb(21, 20, 20)">Author: Shashi Rautela<br>
        <a href="mailto:rautela.shashi@gmail.com">@Email</a></p>
      </footer>
      
</body>
</html>


