{% extends "base.html" %}

{% block title %} Home URL Page {% endblock %}
{% block content %}

<form style="text-align: center; action="#", method="post">
    <label style="font-size: 30px; color: black;" for="url">Enter an https:// URL:  </label>

    <input type="url" name="nm" id="url"
       placeholder="https://xyz.com"
       pattern="https://.*" size="100"
       required>
    <br><br>
    <input type="submit" value="submit" class="btn btn-secondary">
    <hr>
</form>


<img src="https://www.w3schools.com/jsref/img_flwr.gif">
{% endblock %}
